<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajout</title>
    
</head>

<body>
    <form enctype="multipart/form-data" name="ajoutproduit" id="formAddProduct">
        <label for="idNomProuit">Nom Produit <span class="text-danger">*</span></label>
        <input type="text" name="nom" id="NomProduit">
        <br><br>

        <label for="idphoto">photo</label>
        <input type="file" name="photo" id="photo">
        <br><br>

        <label for="idDescriptionProd"> Description produit</label>
        <input type="text" name="description produit" id="DescriptionProd">
        <br><br>

        <label for="idRegion">Region</label>
        <input type="text" name="Region" id="Region">
        <br><br>

        
        
        

        <label for="idprix">Prix</label>
        <input type="number" name="prix" id="prix">
        <br><br>

        <label for="idCategorie">Categorie</label>
        <input type="text" name="categorie" id="Categorie">
        <br><br>

        
        
        <button type="submit" id="submit" name="valider">Envoyé</button>
        </form>

        <script src="js/addProduct.js" defer></script>
</body>

</html>