<!DOCTYPE html>
<html lang="fr">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>DIANTABA</title>
      <link rel="stylesheet" href="../css/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
  <body>
    <ul class="sidenav"> 
       
        <div class="contener-nav">
          <li  class="nav-gauche tab"><a href="/user/profil">Fruits et Legumes</a></li>
          <li  class="nav-gauche tab"><a href="/user/profil">Poisson et Viande</a></li>
          <li  class="nav-gauche tab"><a href="/user/profil">Produits laitiers</a></li>
          <li  class="nav-gauche tab"><a href="/user/profil">Patisserie</a></li>
          
        </div>
        
      </ul>
<div class="navCate">
    <div class="burger">
        <span></span>
        <span></span>
        <span></span>
        <p>Produits</p>
    </div>
    <div class="logo-index"></div>
</div>
<div class="header"></div>
    
  </body>
</html>