
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
         
        <title>Page inscription Particulier</title>
    </head>
      <body>

            <div class="site">
                  <div class="entete_site">
                        
                  </div>
            <div class="formulaireParticulier">
                  
            <h1 id="titre">Inscription <strong>Particulier</strong></h1>
             <form enctype="multipart/form-data" name="formulaireParticulier" id="formAddUser">
                  
                        <div class="mesinputs">
                              <!-- <div class="c100">
                                    <input type="radio" id="acteur" name="acteur" value="Acheteur">
                                    <label for="acteur">Acheteur</label>  
                                    
                                    <input type="radio" id="acteur" name="acteur" value="Vendeur">
                                    <label for="acteur">Vendeur</label> 
                              </div> -->


                              <div class="c100">
                                   
                                    <label for="nom">Nom</label>
                                    <input type="text" id="nom" name="nom" class="info">
                              </div>
                              <br></br>
                              <div class="c100">
                                    <label for="nom">Prénom</label>
                                    <input type="text" name="prenom" id="prenom" class="info"> 
                              </div>
                              <br></br>
                              <div class="c100">
                                    <label for="mail">E-mail</label>
                                    <input type="email" id="mail" name="mail" class="info">
                              </div>
                              <br></br>
                              
                              <div class="c100">
                                    <label for="mdp">Mot de passe</label>
                                    <input type="password" name="password" id="password" class="info">
                              </div>
                              <br></br>
                              <div class="c100">
                                    <label for="confimdp">Confirmation mot de passe</label> 
                                    <input type="password" id="confirmpassword" name="confipassword" class="info">
                              </div>
                              <br></br>
                                        
                              <div class="c100">
                                    <a href="produits"><input type="submit" value="Créer un compte"></a>
                              </div>
                  </div>  
                 
            </form> 
           
            </div> 
            <script src="/js/adduser.js"></script>   
      </body>
</html





