<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modification</title>
</head>
<body>
    

<h1>Modifier une fiche</h1>

<form action="" method="post"  name="modifierProduit" id="formModifyProduct">
    
  <div class="form-horizontal">

   

    <div class="form-group row">
      <label class="col-form-label col-sm-2">Entrer </label>
      <input type="text" name="Reference" id="Reference"></br>
      <div class="col-sm-10">
        <input type="submit" value="Modifier" class="btn btn-default btn-warning" />
        <a class="btn btn-outline-dark cancel" href="/produits">Annuler</a>
      </div>
    </div>
  </div>
</form>


</body>
</html>