<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Supprimer un Produit</h1>

<form action="" method="post">
  <div class="form-horizontal">

   

    <div class="form-group row">
      <label class="col-form-label col-sm-2">Entrer </label>
      <input type="text" name="prix" id="prix">
      <div class="col-sm-10">
        <input type="submit" value="Supprimer" class="btn btn-default btn-warning" />
        <a class="btn btn-outline-dark cancel" href="/product">Annuler</a>
      </div>
    </div>
  </div>
</form>
<script src="js/deleteProduct.js"></script>
</body>

</html>




























  