<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Create users</title>
            <link rel="stylesheet" type="text/css" href="C:\Users\yaobo\Desktop\Dept_Boostrap\bootstrap-4.5.3-dist">
            <link rel="stylesheet" type="text/css" href="users.css">
      </head>
      <body>
            <form role="form" >
                  <div class="form-group">
                        <label for="nom">Nom</label>
                        <input type="text" class="form-control">
                        
                  </div>
                  <div class="form-group">
                        <label for="prenom">Prenom</label>
                        <input type="text" class="form-control">
                        
                  </div>
                  <div class="form-group">
                        <label for="email">Email</label>
                        <input type="mail" class="form-control">
                        
                  </div>
                  <div class="form-group">
                        <label for="pswd">Mot de passe</label>
                        <input type="password" class="form-control">
                        
                  </div>
      
                  <div class="checkbox">
                        <label >
                        <input type="checkbox"> Accepter les conditions.
                        </label>		
                  </div>
                  <button type="submit" class="btn btn-default">S'inscrire</button>
</body>
</html>